// div#bwg_container1_0 #bwg_container2_0{
//   .bwg-container-0.bwg-standard-thumbnails{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     align-items: start;
//     .bwg-item{
//       flex: 0 1 auto;
//       width: auto;
//       max-width: 100%;
//       > a{
//         .bwg-item1{
//           padding: 0px;
//           position: relative;
//         }
//         .bwg-item2{
//           width: auto;
//         }
//         .bwg-zoom-effect-overlay{
//           position: absolute;
//           top: 0;
//           left: 0;
//           right: 0;
//           bottom: 0;
//           background-color: rgba(0,0,0,0);
//           transition: .3s all;
//           transform: scale(1);
//           &:hover{
//             background-color: rgba(0,0,0,0.7);
//             transition: .3s all;
//             transform: scale(1.08);
//             .bwg-title1{
//               opacity: 1;
//               transition: .3s all;
//             }
//           }
//           .bwg-title1{
//             position: absolute;
//             top: 0;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             opacity: 0;
//             transition: .3s all;
//             .bwg-title2{
//               text-align: center;
//               font-size: 40px;
//               text-transform: capitalize;
//             }
//           }
//         }
//       }
//     }
//   }
// }
// .sl-wrapper{
//   .sl-image {
//     max-height: 90vw;
//     top: 5vw !important;
//     bottom: 5vw !important;
//     display: flex;
//     justify-content: center;
//     img {
//       height: 100% !important;
//       width: auto !important;
//     }
//     .sl-caption {
//       display: none !important;
//     }
//   }
// }
.sl-wrapper{
  div.sl-image{
    top: 10px !important;
    bottom: 10px !important;
    img{
      height: 100% !important;
      width: auto !important;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}


.ngg-galleryoverview.default-view .ngg-gallery-thumbnail a {
  width: 100%;
}
.ngg-galleryoverview.default-view {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
}
.ngg-galleryoverview.default-view .ngg-gallery-thumbnail-box {
  flex: 1 1 auto;
  margin: 15px 5px;
  .ngg-gallery-thumbnail{
    a.tall-image{
      max-width: 30vw;
      min-width: 300px;
      margin: 0 auto;
      position: relative;
      @media(max-width: 767px){
        max-width: 100%;
      }
      img{
        // height: 70vh;
        width: 100%;
      }
    }
    a.wide-image{
      max-width: 68vw;
      margin: 0 auto;
      position: relative;
      @media(max-width: 767px){
        max-width: 100%;
      }
      img{
        width: 100%;
      }
    }
  }  
}
.ngg-galleryoverview.default-view{
  align-items: center;
  .ngg-gallery-thumbnail{
    img {
      margin: 0px;
      width: 100%;
      min-width: 300px;
      // max-width: 700px !important;
      opacity: 1;
      transition: .3s all;
    }
    a{
      span{
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
        font-size: 34px;
        transition: .3s all;
      }
      &:hover{
        span{
          opacity: 1;
          transition: .3s all;
          bottom: 50%;
        }
        img{
          opacity: .7;
          transition: .3s all;
        }
      }
    }
  } 
  .ngg-navigation{
    width: 100%;
    margin-top: 30px;
  }
} 
.ngg-galleryoverview.default-view .ngg-gallery-thumbnail {
  margin: 2px;
}
.sl-wrapper{
  div.sl-image{
    max-width: 80%;
  }
} 
.sl-wrapper{
  .sl-image{
    .sl-caption{
      display: none !important;
    }
  }
}